

.content
{
    top:30%;
    left: 5%;
    z-index: 0;
}
.carousel
{
    z-index: 0;
}
.content h1
{
    color:white;
    font-size: 53px;
    font-weight: bold;
    background-color: rgba(51, 255, 51, 0.3);
    
}
.content a
{
    text-decoration: none;
    background-color:hsl(135, 51%, 50%,0.8);
    color:#fff;
    padding: 15px 20px;
    border-radius:5px;
}
.content a:hover
{
    background-color:#fff;
    color:  #3fc060;
}
.foodbox
{
    padding: 10px 5px;
}
.foodbox img
{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1
{
    font-size:18px;
    margin-top:20px;
    font-weight: bold;
}
.voirPlusBtn a
{
    text-decoration: none;
    background-color: hsl(135, 51%, 50%,0.8);
    color:#fff;
    padding: 15px 20px;
    border-radius:5px;
    font-weight: bold;
}
.voirPlusBtn a:hover
{
    background-color:#fff;
    color: #3fc060;
}